@using ProtoTinkr.Pages
<div class="bg-light border p-2 col-5">
    <h4 class="text"> @LProject.name</h4> <br/>
    <h4 class="text-secondary"> Horas Pedagógicas: @LProject</h4>
    <input type="button" class="btn btn-danger" value="Borrar">
    <input type="button" class="btn btn-success" value="Agregar">
</div>

@code
{
    [Parameter]
    public bool IsTeacher { get; set; }

    [Parameter]
    public LearningProject LProject { get; set; }
}
