@page "/ProjectsPages"

<div class="border p-2 mt-2">
    <h2>Active Projects</h2>
    <div class="row container">
        @foreach (var activeProject in _teacher.activeProjects)
        {
            <UIProjectObject LProject="@activeProject"></UIProjectObject>
        }
    </div>
    <br/>
    <br/>
    <input type="button" class="btn btn-danger" value="Borrar" @onclick="RemoveProject">
    <input type="button" class="btn btn-success" value="Agregar" @onclick="AddProject">
    
</div>



@code {
    
    Teacher _teacher = new()
    {
        userId = "orloKun",
        _archivedProjects = new List<LearningProject>(),
        _programmedProjects = new List<LearningProject>(),
        activeProjects = new List<LearningProject>(),
        mailAddress = "oguerrerofarias@gmail.com",
        authtoken = "myTokenTest",
    };

    public void AddProject()
    {
        var project = new LearningProject();
        project.Teachers.Add(_teacher.mailAddress, _teacher);
        project.projectName = GetRandomString();
        project.pedagogicalHours = new Random().Next(2, 20);

        _teacher.activeProjects.Add(project);
    }
    
    public void RemoveProject()
    {
        int randomProject = new Random().Next(0, _teacher.activeProjects.Count - 1);
        _teacher.activeProjects[randomProject].Teachers.Remove(_teacher.mailAddress);    
        _teacher.activeProjects.Remove(_teacher.activeProjects[randomProject]);
    }

    private string GetRandomString()
    {
        int numberOfStrings = 10;
        string[] testNames = new string[numberOfStrings];

        testNames[0] = "ProtoTinker1";
        testNames[1] = "Aprender a desaprender";
        testNames[2] = "Deja la escuela";
        testNames[3] = "A lo humboldt";
        testNames[4] = "Crea tu tamagochi";
        testNames[5] = "Trabajo en cuero de crescencio";
        testNames[6] = "Atletismo en casa";
        testNames[7] = "Decoración para no videntes";
        testNames[8] = "Electronica amish";
        testNames[9] = "La revolución";

        int randomNumber = new Random().Next(0, 9);
        return testNames[randomNumber];
    }

}